/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #848484;
  background-color: #f0f0f0;
}
body.style-2 {
  background-color: #ffffff;
  background-size: cover;
  background-position: -30% center;
  background-repeat: no-repeat;
  background-image: url(../images/bg_2.jpg);
  height: 100%;
}
body.style-3 {
  background: #ffffff url(../images/geometry2.png) repeat;
}

a {
  color: #33cccc;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  color: #29a3a3;
}
table {
    color: #000000;
}

.menu {
  padding: 0;
  margin: 30px 0 0 0;
}
.menu li {
  list-style: none;
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.menu li a {
  padding: 5px;
}
.menu li.active a {
  color: #b3b3b3;
}

.fh5co-form {
  padding: 30px;
  margin-top: 4em;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.style-2 .fh5co-form {
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .fh5co-form {
    padding: 15px;
  }
}
.fh5co-form h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0 0 30px 0;
  color: #000000;
}
.fh5co-form .headerInput{
  margin: 0 0 20px 0;
}
.fh5co-form .table{
    margin-bottom:0px;
}
.fh5co-form .form-group {
  margin-bottom: 30px;
}
.fh5co-form .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300;
}
.fh5co-form .form-group p a {
  color: #000000;
}
.fh5co-form label {
  font-weight: 300;
  font-size: 14px;
  font-weight: 300;
}
.fh5co-form .form-control {
  font-size: 16px;
  font-weight: 300;
  height: 50px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fh5co-form .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .form-control:focus, .fh5co-form .form-control:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.table .btn-primary {
    height:40px;
    padding: 8px 20px;
}
.btn-primary {
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  background: #33cccc;
  color: #ffffff;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #ffffff;
  background: #47d1d1 !important;
  outline: none;
}

input, textarea {
  color: #000;
}

.placeholder {
  color: #aaa;
}

.js .animate-box {
  opacity: 0;
}

.btn-cancel {
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  background:#6c757d;
  color: #ffffff;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
}
.btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active {
  color: #ffffff;
  background: #5a6268 !important;
  outline: none;
}
.btn-danger2{
    color:#fff;
    background-color:#eea29a;
    border-color:#e9877c;
    }
.btn-danger2.focus, .btn-danger2:focus{
    color:#fff;
    background-color:#ed9b92;
    border-color:#e57366;
    }
.btn-danger2:hover{
    color:#fff;
    background-color:#ed9b92;
    border-color:#e15f51;
    }
 .btn-danger2.active, .btn-danger2:active, .open>.dropdown-toggle.btn-danger2{
    color:#fff;
    background-color:#ed9b92;
    border-color:#e15f51;
    }
 .btn-danger2.active.focus, .btn-danger2.active:focus, .btn-danger2.active:hover, .btn-danger2:active.focus, .btn-danger2:active:focus, .btn-danger2:active:hover, .open>.dropdown-toggle.btn-danger2.focus, .open>.dropdown-toggle.btn-danger2:focus, .open>.dropdown-toggle.btn-danger2:hover{
    color:#fff;
    background-color:#e15f51;
    border-color:#e57366;
    }
 .btn-danger2.active, .btn-danger2:active, .open>.dropdown-toggle.btn-danger2{
    background-image:none;
    }
 .btn-danger2.disabled.focus, .btn-danger2.disabled:focus, .btn-danger2.disabled:hover, .btn-danger2[disabled].focus, .btn-danger2[disabled]:focus, .btn-danger2[disabled]:hover, fieldset[disabled] .btn-danger2.focus, fieldset[disabled] .btn-danger2:focus, fieldset[disabled] .btn-danger2:hover{
    background-color:#eea29a;
    border-color:#e9877c;
    }
 .btn-danger2 .badge{
    color:#eea29a;
    background-color:#fff;
    }
.btn-success2{
    color:#fff;
    background-color:#b1cbbb;
    border-color:#94b8a2;
    margin: 20px;
    }
.btn-success2.focus, .btn-success2:focus{
    color:#fff;
    background-color:#449d44;
    border-color:#255625;
    }
.btn-success2:hover{
    color:#fff;
    background-color:#449d44;
    border-color:#398439;
    }
.btn-success2.active, .btn-success2:active, .open>.dropdown-toggle.btn-success2{
    color:#fff;
    background-color:#449d44;
    border-color:#398439;
    }
.btn-success2.active.focus, .btn-success2.active:focus, .btn-success2.active:hover, .btn-success2:active.focus, .btn-success2:active:focus, .btn-success2:active:hover, .open>.dropdown-toggle.btn-success2.focus, .open>.dropdown-toggle.btn-success2:focus, .open>.dropdown-toggle.btn-success2:hover{
    color:#fff;
    background-color:#398439;
    border-color:#255625;
    }
.btn-success2.active, .btn-success2:active, .open>.dropdown-toggle.btn-success2{
    background-image:none;
    }
.btn-success2.disabled.focus, .btn-success2.disabled:focus, .btn-success2.disabled:hover, .btn-success2[disabled].focus, .btn-success2[disabled]:focus, .btn-success2[disabled]:hover, fieldset[disabled] .btn-success2.focus, fieldset[disabled] .btn-success2:focus,fieldset[disabled] .btn-success2:hover{
    background-color:#b1cbbb;
    border-color:#94b8a2;
    }
.btn-success2 .badge{
    color:#b1cbbb;
    background-color:#fff;
    }
.btn-info{
    color:#fff;
    background-color:#5bc0de;
    border-color:#46b8da;
    }
.dropbtn {
    border: none;
    margin: 15px 30px 3px;
    background:#6c757d;
    color: #ffffff;
    -webkit-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
    -moz-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
    -o-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
    box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
}
.dropbtn:hover, .dropbtn:focus, .dropbtn:active {
  color: #ffffff;
  background: #5a6268 !important;
  outline: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin: 0px 30px;
  right:0;
  top: 100%;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.custom-alert {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.custom-alert-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    border-radius: 8px;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
}
.swal-cancel{
   height: 40px;
   padding-right: 20px;
   padding-left: 20px;
   border: none;
   background:#6c757d;
   color: #ffffff;
   -webkit-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
   -moz-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
   -o-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
   box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
}
.swal-cancel:hover, .swal-cancel:focus, .swal-cancel:active {
   color: #ffffff;
   background: #5a6268 !important;
   outline: none;
}
.swal-primary {
  height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  background: #33cccc;
  color: #ffffff;
  -webkit-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
  -moz-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
  -o-box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
  box-shadow: -2px 10px 20px -1px rgba(51, 204, 204, 0.4);
}
.swal-primary:hover, .swal-primary:focus, .swal-primary:active {
  color: #ffffff;
  background: #47d1d1 !important;
  outline: none;
}
.swal-danger{
    height: 40px;
    color:#fff;
    background-color:#d9534f;
    border-color:#d43f3a
 }
.swal-danger.focus,.swal-danger:focus{
    color:#fff;
    background-color:#c9302c;
    border-color:#761c19
 }
.swal-danger:hover{
    color:#fff;
    background-color:#c9302c;
    border-color:#ac2925
}
.swal-danger.active,.swal-danger:active,.open>.dropdown-toggle.swal-danger{
    color:#fff;
    background-color:#c9302c;
    border-color:#ac2925
    }
.filter{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    font-size: 14px;
    padding: 8px 20px 8px 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight:normal;
    width:80%;
}
.error-message{
    display: none;
    max-width: 90%;
    float:left;
}
.col-md-4 .error-message{
    display: none;
    max-width: 85%;
    float:left;
}
.multiselect-selected-text{
    display: inline-block;
    max-width: 97%;
    word-break: break-all;
    white-space: normal;
    float: left;
}
.caret{
    position: absolute;
    top: 50%;
    left: 98%;
    -ms-transform: translate(-50%, -98%);
    transform: translate(-50%, -98%);
}

.multiselect-container{
    position:absolute;
    list-style-type:none;
    margin:0;
    padding:0;

}
.multiselect-container .input-group{
    margin:5px
}
.multiselect-container>li{
    padding:0
}
.multiselect-container>li.multiselect-group label{
    margin:0;
    padding:3px 20px 3px 20px;
    height:100%;
}
.multiselect-container>li.multiselect-group-clickable label{
    cursor:pointer
}
.multiselect-container>li.multiselect-group-clickable label:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.multiselect-container>li.multiselect-group-clickable label.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.multiselect-container>li>a{
    padding:0
}
.multiselect-container>li>a>label{
    margin:0;
    height:100%;
    cursor:pointer;
    padding:3px 20px 3px 40px
}
.multiselect-container > li > a > label:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.multiselect-container > li > a > label.disabled {
    cursor: not-allowed;
    opacity: 0.5; /* Optional: visually indicate it is disabled */
}
.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{
    margin:0
}
.multiselect-container>li>a>label>input[type=checkbox]{
    margin-bottom:5px
}
.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{
    padding:3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{
    margin-left:-20px;
    margin-right:0
}
.fh5co-form .btn-group{
    width:100%
}
.fh5co-form .btn-group>.btn:first-child {
  font-size: 16px;
  font-weight: 300;
  display: block;
  width: 100%;
  padding: 6px 6px;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fh5co-form .btn-group>.btn:first-child::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .btn-group>.btn:first-child::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .btn-group>.btn:first-child:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .btn-group>.btn:first-child:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .btn-group>.btn:first-child:focus, .fh5co-form .btn-group>.btn:first-child:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
/* Style for labels when their associated input is disabled */
.multiselect-container li a label input:disabled {
    opacity: 0.5;
    cursor: not-allowed;  /* Change cursor to indicate disabled state */
}

.multiselect-container li a label input[disabled]:after{
    opacity: 0.5;
    cursor: not-allowed;
}
.char-count {
    font-size: 0.9rem;
    color: #9f9f9f;
    float: right;
    padding: 2px;
}