<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script  type="text/javascript" src="/js/sendpass.js"></script>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PASSEX Add new group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <form th:action="@{/admin/addNewGroup/{user_id}}"  th:object = "${user}" method="POST" class="fh5co-form animate-box" data-animate-effect="fadeIn">
            <h2>Create new group</h2>
            <input class="form-control"
                   type="hidden"
                   th:value="${user_id}"
                   id="user_id"
                   name="user_id"/>
            <div class="form-group">
              <label for="name" class="sr-only">Group name</label>
              <input
                      type = "text"
                      name = "name"
                      class = "form-control"
                      placeholder="Group name"
                      id="name"
              />
            </div>
            <div class ="form-group">
              <input type="button" class="btn btn-primary custom-button" value="Create group">
              <input type="button" value="Back" class="btn btn-cancel" onclick="window.history.back();">
            </div>
            <div id="customAlertBox" class="custom-alert">
                <div class="custom-alert-content form-group">
                  <span class="close">&times;</span>
                  <p>Are you sure you want to create new group?</p>
                  <input type="submit" value="Create group" class="btn btn-success2">
                  <input type="button" value="Cancel" class="btn btn-danger2" id="cancel-alert">
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
        let alertBox = document.getElementById("customAlertBox");
        let custom_button = document.querySelector(".custom-button");
        let close_img = document.querySelector(".close");
        let body = document.querySelector("body");
        let close_btn = document.getElementById("cancel-alert");
        custom_button.addEventListener
            ('click', function () {
                alertBox.style.display = "block";
            });

        close_img.addEventListener
            ('click', function () {
                alertBox.style.display = "none";
            });

        close_btn.addEventListener
            ('click', function () {
                alertBox.style.display = "none";
            });

    </script>
  </body>
</html>