<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script  type="text/javascript" src="/js/sendpass.js"></script>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PASSEX Edit Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form th:action="@{/admin/{user_id}/{role_id}}" th:object = "${user}"  method="POST" class="fh5co-form animate-box" data-animate-effect="fadeIn">
          <input class="form-control"
                 type="hidden"
                 th:value="${user_id}"
                 id="user_id"
                 name="user_id"/>
          <input class="form-control"
                 type="hidden"
                 th:value="${role_id}"
                 id="role_id"
                 name="role_id"/>
            <table class = "table table-striped" style="width:100%" id="table">
              <thead>
                <tr>
                  <th colspan="3">
                    <h2>Users in the group</h2>
                  </th>
                </tr>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each = "user : ${userList}">
                  <td style="display:none;" th:text = "${user.user_id}" th:value="${user.user_id}" th:id="${user.user_id}" ></td>
                  <td th:text = "${user.user_names}" ></td>
                  <td th:text = "${user.user_email}"></td>
                  <td>
                    <button class="btn btn-danger2" type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-dash" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class ="form-group">
              <label for="user" class="sr-only">Select user</label>
              <select class="form-control"  id="user" name="user">
                <option value="Select user">Select user</option>
                <option th:each="userNo : ${userListNo}"
                        th:value="${userNo.user_id}"
                        th:text="${userNo.user_email}">
                </option>
              </select>
            </div>
            <div class ="form-group">
              <input type="submit" value="Add user to group" class="btn btn-primary">
              <input type="button" value="Cancel" class="btn btn-cancel" onclick="window.history.back();">
            </div>
        </form>
      </div>
    </div>
  </body>
</html>