<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script  type="text/javascript" src="/js/sendpass.js"></script>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PASSEX Edit user</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <form th:action="@{/admin/{user_id}}" th:object = "${user}" method="POST" class="fh5co-form animate-box" data-animate-effect="fadeIn">
            <h2>Edit user</h2>
            <input class="form-control"
                   type="hidden"
                   th:value="${user_id}"
                   id="user_id"
                   name="user_id"/>
            <div class="form-group">
              <label for="name" class="sr-only">Names</label>
              <input disabled
                     type = "text"
                     name = "user_names"
                     th:field = "*{user_names}"
                     class = "form-control"
                     placeholder="Names"
                     id="name"
              />
            </div>
            <div class="form-group">
              <label for="username" class="sr-only">Username</label>
              <input disabled
                     type = "text"
                     name = "user_username"
                     th:field = "*{user_username}"
                     class = "form-control"
                     placeholder="Username"
                     id="username"
              />
            </div>
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input disabled
                     type = "text"
                     name = "user_email"
                     th:field = "*{user_email}"
                     class = "form-control"
                     placeholder="Email"
                     id="email"
              />
            </div>
            <table style="width:100%">
              <thead>
              <tr>
                <th colspan="5">
                  <h2>All user groups</h2></th>
              </tr>
              <tr>
                <th>Group</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each = "userRoles : ${userRolesList}">
                <td th:text = "${userRoles.role_name}" ></td>
                <td>
                  <a class ="btn btn-danger" th:href = "@{/home/{user_id}/{id}(user_id=${user_id},id=${sendpassword.id_password})}" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                    </svg></a>
                </td>
              </tr>
              </tbody>
            </table>
            <div class ="form-group">
              <label for="role" class="sr-only">Select group</label>
              <select class="form-control"  id="role" name="role">
                <option value="Select group">Select group</option>
                <option th:each="role : ${roleList}"
                        th:value="${role.role_id}"
                        th:text="${role.role_name}">
                </option>
              </select>
            </div>
            <div class ="form-group">
              <input type="button" value="Cancel" class="btn btn-cancel" onclick="window.history.back();">
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>