<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PASSEX Edit group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <script>
      function deleteUser(el,names){
        var user_id=document.getElementById("user_id").value;
        var role=document.getElementById("role_name").value;
        var role_id=document.getElementById("role_id").value;
        Swal.fire({
          title: "Are you sure you want to remove user "+names+" from group "+role+"?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          customClass: {
            actions: 'my-actions',
            cancelButton: 'btn swal-cancel',
            confirmButton: 'btn swal-danger',
          },
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire({
              title: "Deleted!",
              text: "The user has been removed from the group.",
              icon: "success",
              customClass: {
                confirmButton: 'btn swal-primary',
              },
            });
            $.ajax({
              type: "GET",
              url : "http://localhost:8080/admin/"+role_id+"/"+user_id+"/"+el,
              contentType: "application/json",
              success: function () {
                window.location.reload();
              },
              error: function () {},
            });
          }
        });
      }
      function AddToGroup(){
        var role=document.getElementById("role_name").value;
        var nameAndEmail = $("#user option:selected").text();
        const name = nameAndEmail.substring(0, nameAndEmail.indexOf("-"));
        Swal.fire({
          title: "Are you sure you want to add user "+name+" to group "+role+"?",
          showCancelButton: true,
          confirmButtonText: 'Yes',
          denyButtonText: 'No',
          customClass: {
            actions: 'my-actions',
            cancelButton: 'order-1 right-gap btn swal-cancel',
            confirmButton: 'order-2 btn swal-primary',
          },
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire({
              title: "Success!",
              text: "User "+name+" successfully added to group "+role+"?",
              customClass: {
                confirmButton: 'btn swal-primary',
              },
              icon: "success"
            });
            document.getElementById('formAddToGroup').submit();
          }else{
            Swal.fire({
              title: "User is not added to group",
              customClass: {
                  confirmButton: 'btn swal-primary',
              },
              icon: "info"
            });
          }
        });
      }
    </script>
    <div class="container">
      <div class="row">
        <form th:action="@{/admin/{user_id}/{role_id}}" th:object = "${user}" id="formAddToGroup" method="POST" class="fh5co-form animate-box" data-animate-effect="fadeIn">
          <input class="form-control"
                 type="hidden"
                 th:value="${role_id}"
                 id="role_id"
                 name="role_id"/>
          <input class="form-control"
                 type="hidden"
                 th:value="${role_name}"
                 id="role_name"
                 name="role_name"/>
          <input class="form-control"
                 type="hidden"
                 th:value="${user_id}"
                 id="user_id"
                 name="user_id"/>
          <table class = "table table-striped" style="width:100%" id="table">
            <thead>
              <tr>
                <th colspan="5">
                  <h2 th:utext="'Users from group ' + '<strong>' + ${role_name} + '</strong>'"></h2>
                </th>
              </tr>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each = "user : ${userList}">
                <td style="display:none;" th:text = "${user.user_id}" th:value="${user.user_id}" th:id="${user.user_id}" ></td>
                <td th:text = "${user.user_names}" th:id="${user.user_names}"></td>
                <td th:text = "${user.user_email}"></td>
                <td>
                  <button type="button" class ="btn btn-danger" th:attr="onclick=|deleteUser('${user.user_id}','${user.user_names}')|">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class ="form-group">
            <label for="user" class="sr-only">Select User</label>
            <select class="form-control"  id="user" name="user">
              <option value="Select User">Select User</option>
              <option th:each="userNo : ${userListNo}"
                      th:value="${userNo.user_id}"
                      th:text="${userNo.user_names}+' - '+${userNo.user_email}">
              </option>
            </select>
          </div>
          <button type="button" class="btn btn-primary" th:attr="onclick=|AddToGroup()|">Add to group</button>
          <input type="submit" name="cancel" value="Back" class="btn btn-cancel">
        </form>
      </div>
    </div>
  </body>
</html>
