<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script  type="text/javascript" src="/js/reset_password.js"></script>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PASSEX Reset password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <script>

    function resetPassword(){
         Swal.fire({
         title: 'Do you want to reset your password?',
         showCancelButton: true,
         confirmButtonText: 'Yes',
         denyButtonText: 'No',
         customClass: {
           actions: 'my-actions',
           cancelButton: 'order-1 right-gap',
           confirmButton: 'order-2',
         },
         }).then((result) => {
             if (result.isConfirmed) {
         Swal.fire('Saved!', '', 'success')
       document.getElementById('formResetPassword').submit();

             }
              else if (result.isDenied) {
           Swal.fire('Changes are not saved', '', 'info')
         }
           });
           }
  </script>
    <div class="container">
      <div class="row col-md-6" style="margin-left:25%">
        <form th:action="@{/home/resetPassword}"
              th:object = "${user}"
              method="POST"
              class="fh5co-form animate-box"
              data-animate-effect="fadeIn"
              id="formResetPassword"
        >
          <h2>Reset Password</h2>
          <input class="form-control"
                 type="hidden"
                 th:value="${user_id}"
                 id="user_id"
                 name="user_id"
          />
          <input class="form-control"
                 type="hidden"
                 th:value="${id}"
                 id="id"
                 name="id"
          />
          <div class="form-group">
            <p>Enter your email to receive a code for password reset:</p>
          </div>
          <div class="form-group">
            <table>
              <tr>
                <td>
                  <label for="email" class="sr-only">Email</label>
                  <input type = "text"
                         name = "email"
                         class = "form-control"
                         placeholder="Email"
                         id="email"
                  />
                </td>
                <td style="width:10%">
                  <button type="button"  name="send_email"  class="btn btn-success2"   id="emailButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-arrow-up-fill" viewBox="0 0 16 16" id="svg">
                      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zm.192 8.159 6.57-4.027L8 9.586l1.239-.757.367.225A4.49 4.49 0 0 0 8 12.5c0 .526.09 1.03.256 1.5H2a2 2 0 0 1-1.808-1.144M16 4.697v4.974A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-1.965.45l-.338-.207z"/>
                      <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.354 1.25 1.25a.5.5 0 0 1-.708.708L13 12.207V14a.5.5 0 0 1-1 0v-1.717l-.28.305a.5.5 0 0 1-.737-.676l1.149-1.25a.5.5 0 0 1 .722-.016"/>
                    </svg>
                  </button>
                </td>
              </tr>
            </table>
            <script>
              function disableInput() {
                document.getElementById('email').disabled = true;
              }
            </script>
          </div>
          <div class="form-group">
            <label for="code" class="sr-only">Code</label>
            <input type = "password"
                   name = "code"
                   class = "form-control"
                   placeholder="Received code"
                   id="code"
            />
            <p id="code_error"></p>
          </div>
          <div class="form-group">
            <label for="new_password" class="sr-only">New password</label>
            <input type = "password"
                   name = "new_password"
                   class = "form-control"
                   placeholder="New password"
                   id="new_password"
            />
            <p id="pass_error"></p>
          </div>
          <div class="form-group">
            <label for="rep_new_password" class="sr-only">Repeat new password</label>
            <input type = "password"
                   name = "rep_new_password"
                   class = "form-control"
                   placeholder="Repeat new password"
                   id="rep_new_password"
            />
            <p id="rep_pass_error"></p>
          </div>
          <div class ="form-group">
            <button type="button" name="save" value="Set new password" class="btn btn-primary" th:attr="onclick=|resetPassword()|" id="resetPasswordButton">Set new password</button>
            <input type="submit" value="Cancel" name="cancel" class="btn btn-cancel">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>